{% block incomeAdd %}
    <div class="box-400">
        <div class="title">Pajamos</div>
    {% if error is defined %}
        <div class="error"><div class="img"></div><div class="text">{{ error }}</div></div>
    {% endif %}
    <form action="{{ path('_vd_add_income') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" title="Pridėti" value="Pridėti"/>
    </form>
    </div>
{% endblock %}