{% extends "VDAccountBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="box-400">
        <div class="title">Jūs prisijungę {{ app.user.name }} vardu</div>
    </div>
{% endblock %}