{% extends "VDAccountBundle:Default:layout_before_login.html.twig" %}
{% set active = 'login' %}
{% block body %}
    <form action="{{ path('vd_account_login_check') }}" method="post" class="form-horizontal form-login">
        <h2 class="form-signin-heading">Prisijungimo forma</h2>
        {% if error %}
            <div class="alert alert-error">
                {{ error.message }}
            </div>
        {% endif %}

        <div class="control-group">
            <label class="control-label" for="username">Vartotojo vardas</label>

            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="El. paštas"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Slaptažodis</label>

            <div class="controls">
                <input type="password" id="password" name="_password" placeholder="Slaptažodis"/>
            </div>
        </div>
        {#
            If you want to control the URL the user is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <div class="control-group last">
            <div class="controls">
                <button class="btn btn-primary" type="submit">Prisijungti</button>
            </div>
        </div>
    </form>
{% endblock %}