{% extends "VDAccountBundle:Default:layout_before_login.html.twig" %}
{% set active = 'register' %}
{% block body %}

    <div class="row">
        <div class="span4 offset4">
            <div class="hero-unit text-center">
                <div class="alert alert-success">Registracija pavyko.</div>
                <a class="btn btn-success btn-large" href="{{ path('vd_account_index') }}">Keliauti į puslapį</a>
            </div>
        </div>
    </div>
{% endblock %}