/* compass libraries */
/* line 17, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* prepare sprite */
/* line 66, sprite/*.png */
.sprite-sprite, .sprite-icon-cross, .sprite-icon-info, .sprite-icon-tick, .sprite-icon-warning {
  background: url('/sf-vd/web/images/sprite-sfa5ce2171c.png') no-repeat;
}

/* line 60, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-cross {
  background-position: 0 0;
}

/* line 60, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-info {
  background-position: 0 -32px;
}

/* line 60, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-tick {
  background-position: 0 -64px;
}

/* line 60, ../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-warning {
  background-position: 0 -96px;
}

/* mixin of messages*/
/* helpers */
/* layout */
/* line 96, assetic_compass4L6NrG.scss */
.content {
  width: 900px;
  margin: auto;
  text-align: center;
}

/* line 102, assetic_compass4L6NrG.scss */
.error {
  border: 1px solid;
  margin: 0 0 15px 0;
  padding: 10px 20px;
  font: bold 12px verdana;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: 0 0 5px #888888;
  text-shadow: 2px 2px 2px #cccccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: left;
  color: #D8000C;
  background: #FFBABA;
}
/* line 105, assetic_compass4L6NrG.scss */
.error:after {
  clear: both;
  display: block;
  content: '';
}
/* line 108, assetic_compass4L6NrG.scss */
.error .img {
  background: url('/sf-vd/web/images/sprite-s7604bc354e.png') 0 -32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: 0 20px 0 0;
}
/* line 112, assetic_compass4L6NrG.scss */
.error div {
  float: left;
}
/* line 115, assetic_compass4L6NrG.scss */
.error .text {
  padding: 9px 0 0;
}

/* line 120, assetic_compass4L6NrG.scss */
.success {
  border: 1px solid;
  margin: 0 0 15px 0;
  padding: 10px 20px;
  font: bold 12px verdana;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: 0 0 5px #888888;
  text-shadow: 2px 2px 2px #cccccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: left;
  color: #4F8A10;
  background: #DFF2BF;
}
/* line 123, assetic_compass4L6NrG.scss */
.success:after {
  clear: both;
  display: block;
  content: '';
}
/* line 126, assetic_compass4L6NrG.scss */
.success .img {
  background: url('/sf-vd/web/images/sprite-s7604bc354e.png') 0 -96px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: 0 20px 0 0;
}
/* line 130, assetic_compass4L6NrG.scss */
.success div {
  float: left;
}
/* line 133, assetic_compass4L6NrG.scss */
.success .text {
  padding: 9px 0 0;
}

/* line 138, assetic_compass4L6NrG.scss */
.box-400 {
  width: 400px;
  text-align: center;
  margin: 50px auto 0;
  border: 2px solid dimgrey;
  border-radius: 15px;
  padding: 0 15px 15px;
  box-shadow: 10px 10px 5px #888888;
  background-color: ghostwhite;
}
/* line 147, assetic_compass4L6NrG.scss */
.box-400 .title {
  color: #94bb46;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
  text-align: left;
  text-shadow: -1px -1px 0px #414141;
}
/* line 158, assetic_compass4L6NrG.scss */
.box-400 .box-content {
  text-align: left;
}
/* line 161, assetic_compass4L6NrG.scss */
.box-400 a {
  text-decoration: none;
  color: #26559f;
}
/* line 165, assetic_compass4L6NrG.scss */
.box-400 a:hover {
  text-decoration: none;
  color: #29aaff;
}
/* line 169, assetic_compass4L6NrG.scss */
.box-400 form div {
  margin: 0 0 6px;
}
/* line 171, assetic_compass4L6NrG.scss */
.box-400 form div div {
  padding: 3px 0;
}
/* line 173, assetic_compass4L6NrG.scss */
.box-400 form div div:after {
  clear: both;
  display: block;
  content: '';
}
/* line 177, assetic_compass4L6NrG.scss */
.box-400 form div label {
  float: left;
  margin: 0 0 10px 0;
}
/* line 181, assetic_compass4L6NrG.scss */
.box-400 form div input, .box-400 form div textarea {
  float: right;
  width: 200px;
}
/* line 185, assetic_compass4L6NrG.scss */
.box-400 form div select {
  float: right;
  width: 206px;
}
/* line 189, assetic_compass4L6NrG.scss */
.box-400 form div ul {
  float: right;
  width: 185px;
  border: 1px solid;
  margin: 5px 0;
  padding: 4px 10px 4px;
  font: bold 12px verdana;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: 0 0 5px #888888;
  text-shadow: 2px 2px 2px #cccccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #D8000C;
  background: #FFBABA;
}
